body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root
{
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  z-index: -1;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.leftTopPile
{
  position: absolute;
  left: 10%;
  top: 10%;
  z-index: 10;
}

.leftTopPile img:nth-child(2)
{
  position: absolute;
  left: 110%;
}

.topPile1, .topPile2, .topPile3, .topPile4
{
  position: absolute;
  top: 10%;
  left: 50%;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  width: 13vh;
  height: 17vh;
}

.topPile2
{
  left: 60%;
}

.topPile3
{
  left: 70%;
}

.topPile4
{
  left: 80%;
}

.topPile1 img, .topPile2 img, .topPile3 img, .topPile4 img
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

img
{
  width: 13vh;
  height: 17vh;
  z-index: 50;
}

.midPile1, .midPile2, .midPile3, .midPile4, .midPile5, .midPile6, .midPile7  /*rozwala tlo*/
{
  position: absolute;
  top: 35vh;
  left: 20vw;
  height: 64vh;
  width: 13vh;
  overflow: hidden;
} 

.midPile2
{
  left: 30vw;
}
.midPile3
{
  left: 40vw;
}
.midPile4
{
  left: 50vw;
}
.midPile5
{
  left: 60vw;
}
.midPile6
{
  left: 70vw;
}
.midPile7
{
  left: 80vw;
}

.pileBackground
{
  position: absolute;
  top: 0%;
  z-index: 30;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  width: 13vh;
  height: 17vh;
}

.midPile1 img, .midPile2 img, .midPile3 img, .midPile4 img, .midPile5 img, .midPile6 img, .midPile7 img
{
  z-index: 100;
  overflow: hidden;
} 

.midPile1 img:hover, .midPile2 img:hover, .midPile3 img:hover, .midPile4 img:hover, .midPile5 img:hover, .midPile6 img:hover, .midPile7 img:hover
{
  transform: translate(0, -3vh);
  transition: 0.5s;
} 

.midPile1 img:nth-child(2), .midPile2 img:nth-child(2), .midPile3 img:nth-child(1), .midPile4 img:nth-child(1), .midPile5 img:nth-child(1), .midPile6 img:nth-child(1), .midPile7 img:nth-child(1)
{
  position: absolute;
  top: 4vh;
  left: 0;
}

.midPile1 img:nth-child(2):hover, .midPile2 img:nth-child(2):hover, .midPile3 img:nth-child(2):hover, .midPile1 img:nth-child(2):hover, .midPile4 img:nth-child(2):hover, .midPile5 img:nth-child(2):hover, .midPile6 img:nth-child(2):hover, .midPile7 img:nth-child(2):hover
{
  transform: none;
}

.midPile1 img:nth-child(2), .midPile2 img:nth-child(2), .midPile3 img:nth-child(2), .midPile4 img:nth-child(2), .midPile5 img:nth-child(2), .midPile6 img:nth-child(2), .midPile7 img:nth-child(2)
{
  position: absolute;
  top: 0vh;
  left: 0;
}

.midPile1 img:nth-child(3), .midPile2 img:nth-child(3), .midPile3 img:nth-child(3), .midPile4 img:nth-child(3), .midPile5 img:nth-child(3), .midPile6 img:nth-child(3), .midPile7 img:nth-child(3)
{
  position: absolute;
  top: 4vh;
  left: 0;
}

.midPile1 img:nth-child(4), .midPile2 img:nth-child(4), .midPile3 img:nth-child(4), .midPile4 img:nth-child(4), .midPile5 img:nth-child(4), .midPile6 img:nth-child(4), .midPile7 img:nth-child(4)
{
  position: absolute;
  top: 8vh;
  left: 0;
}

.midPile1 img:nth-child(5), .midPile2 img:nth-child(5), .midPile3 img:nth-child(5), .midPile4 img:nth-child(5), .midPile5 img:nth-child(5), .midPile6 img:nth-child(5), .midPile7 img:nth-child(5)
{
  position: absolute;
  top: 12vh;
  left: 0;
}

.midPile1 img:nth-child(6), .midPile2 img:nth-child(6), .midPile3 img:nth-child(6), .midPile4 img:nth-child(6), .midPile5 img:nth-child(6), .midPile6 img:nth-child(6), .midPile7 img:nth-child(6)
{
  position: absolute;
  top: 16vh;
  left: 0;
}

.midPile1 img:nth-child(7), .midPile2 img:nth-child(7), .midPile3 img:nth-child(7), .midPile4 img:nth-child(7), .midPile5 img:nth-child(7), .midPile6 img:nth-child(7), .midPile7 img:nth-child(7)
{
  position: absolute;
  top: 20vh;
  left: 0;
}

.midPile1 img:nth-child(8), .midPile2 img:nth-child(8), .midPile3 img:nth-child(8), .midPile4 img:nth-child(8), .midPile5 img:nth-child(8), .midPile6 img:nth-child(8), .midPile7 img:nth-child(8)
{
  position: absolute;
  top: 24vh;
  left: 0;
}

.midPile1 img:nth-child(9), .midPile2 img:nth-child(9), .midPile3 img:nth-child(9), .midPile4 img:nth-child(9), .midPile5 img:nth-child(9), .midPile6 img:nth-child(9), .midPile7 img:nth-child(9)
{
  position: absolute;
  top: 28vh;
  left: 0;
}

.midPile1 img:nth-child(10), .midPile2 img:nth-child(10), .midPile3 img:nth-child(10), .midPile4 img:nth-child(10), .midPile5 img:nth-child(10), .midPile6 img:nth-child(10), .midPile7 img:nth-child(10)
{
  position: absolute;
  top: 32vh;
  left: 0;
}

.midPile1 img:nth-child(11), .midPile2 img:nth-child(11), .midPile3 img:nth-child(11), .midPile4 img:nth-child(11), .midPile5 img:nth-child(11), .midPile6 img:nth-child(11), .midPile7 img:nth-child(11)
{
  position: absolute;
  top: 36vh;
  left: 0;
}

.midPile1 img:nth-child(12), .midPile2 img:nth-child(12), .midPile3 img:nth-child(12), .midPile4 img:nth-child(12), .midPile5 img:nth-child(12), .midPile6 img:nth-child(12), .midPile7 img:nth-child(12)
{
  position: absolute;
  top: 40vh;
  left: 0;
}

.midPile1 img:nth-child(13), .midPile2 img:nth-child(13), .midPile3 img:nth-child(13), .midPile4 img:nth-child(13), .midPile5 img:nth-child(13), .midPile6 img:nth-child(13), .midPile7 img:nth-child(13)
{
  position: absolute;
  top: 44vh;
  left: 0;
}

.midPile1 img:nth-child(14), .midPile2 img:nth-child(14), .midPile3 img:nth-child(14), .midPile4 img:nth-child(14), .midPile5 img:nth-child(14), .midPile6 img:nth-child(14), .midPile7 img:nth-child(14)
{
  position: absolute;
  top: 48vh;
  left: 0;
}

.midPile1 img:nth-child(15), .midPile2 img:nth-child(15), .midPile3 img:nth-child(15), .midPile4 img:nth-child(15), .midPile5 img:nth-child(15), .midPile6 img:nth-child(15), .midPile7 img:nth-child(15)
{
  position: absolute;
  top: 52vh;
  left: 0;
}

.midPile1 img:nth-child(16), .midPile2 img:nth-child(16), .midPile3 img:nth-child(16), .midPile4 img:nth-child(16), .midPile5 img:nth-child(16), .midPile6 img:nth-child(16), .midPile7 img:nth-child(16)
{
  position: absolute;
  top: 56vh;
  left: 0;
}

.midPile1 img:nth-child(17), .midPile2 img:nth-child(17), .midPile3 img:nth-child(17), .midPile4 img:nth-child(17), .midPile5 img:nth-child(17), .midPile6 img:nth-child(17), .midPile7 img:nth-child(17)
{
  position: absolute;
  top: 60vh;
  left: 0;
}

.midPile1 img:nth-child(18), .midPile2 img:nth-child(18), .midPile3 img:nth-child(18), .midPile4 img:nth-child(18), .midPile5 img:nth-child(18), .midPile6 img:nth-child(18), .midPile7 img:nth-child(18)
{
  position: absolute;
  top: 64vh;
  left: 0;
}

.midPile1 img:nth-child(19), .midPile2 img:nth-child(19), .midPile3 img:nth-child(19), .midPile4 img:nth-child(19), .midPile5 img:nth-child(19), .midPile6 img:nth-child(19), .midPile7 img:nth-child(19)
{
  position: absolute;
  top: 68vh;
  left: 0;
}


.midPile1 img:nth-child(20), .midPile2 img:nth-child(20), .midPile3 img:nth-child(20), .midPile4 img:nth-child(20), .midPile5 img:nth-child(20), .midPile6 img:nth-child(20), .midPile7 img:nth-child(20)
{
  position: absolute;
  top: 72vh;
  left: 0;
}

.show
{
  display: none;
  overflow: hidden;
}

#rules
{
  background: rgba(0, 0, 0, 0.95);
  color: white;
  width: 50%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  text-align: center;
  z-index: 1000;
  overflow-y: hidden;
}
#rules p
{
  position: absolute;
  margin: 2vw;
  font-size: 1.5vw;
}

button
{
  background: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  width: 8vw;
  height: 5vh;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

button:hover
{
  background: rgba(0, 0, 0, 0.95);
}

.displayBack
{
  pointer-events: none
}

.winBox
{
  background: rgba(0, 0, 0, 0.95);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000000000000000;
}

.winBox h1
{
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 10vh;
  color: rgb(0, 89, 255);
}
